<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleStr</key>
		<string>如何制作有竞争力的交互作品集？来看这4个方法！</string>
		<key>headerImg</key>
		<string>exp_1</string>
		<key>contentStr</key>
		<string>对于设计师而言，作品集是体现自身工作能力和项目经验的面试依据。本文将结合示例，说明初中级交互设计师在准备作品集时，应该把握的关键点。

一、体现专业基础能力

广义上是指能够独立完成产品交互设计方案。细分为对产品需求的理解、搭建信息架构图、打通任务流程、输出页面原型、页面流程图、汇总交互说明文档，此外还包括跟进产品上线后的反馈，不断优化产品的用户体验。

1. 对产品需求的理解

如果你参与了项目前期用户需求分析和定义阶段，那么在作品集中请简明的提及这一点。下图是我之前做的一个项目案例，在开始着手设计之前站在用户的角度思考产品需求的合理性，对于产品设计的整体把控大有益处。*2. 搭建信息架构图

如果把产品比作人，那么信息架构图就是人的骨骼。交互设计师需要理清楚一款产品的结构脉络，才能站在全局的高度把控产品整体交互的统一性。*3. 绘制任务流程图

任务流程图呈现用户为实现某个目的，执行具体操作的步骤流程。交互设计师对尼尔森的可用性原则都比较清楚，这里的任务流程图其实就建立在「防止错误」和「容错」两大原则之上。交互设计师只有对任务流程的闭环了如指掌，才能在画原型时将用户操作的使用场景考虑全面。*4. 输出页面原型

交互原型图是交互设计师产出物的重要组成部分，也是给上游产品经理、下游视觉设计师和开发人员阐述交互设计方案的重要依据。*5. 输出页面流程图

页面流程图是指将页面原型之间的逻辑跳转关系，用连线的方式有条理的呈现出来。便于查看交互稿的相关人员能快速便捷的掌握页面跳转逻辑。*逻辑思维能力：在作品中适当加入上述部分输出物，能够体现交互设计师对产品结构的逻辑思考和归纳能力。

添加文案说明：记得在上述输出物的旁边加入必要的文案说明，让查看作品集的人在短时间内迅速明白你要表达的意思，图文结合的方式更有利于观者理解。

二、项目背景介绍和结果导向意识

很多作品集中只罗列了做过哪些项目、自己承担的职责，却没有项目背景、产品需求、设计目标、交互设计师承担的责任等辅助说明，以及最终项目取得的成果和自己在项目中的贡献。

1. 项目辅助说明

可以帮助面试官快速了解项目基本情况，同时对你的作品也有了心理预知。*2. 上线后的数据和用户反馈，以及项目总结

让面试官了解项目上线后的最终成果，同时体现设计在其中发挥的价值。比如是否有用户反馈界面的使用体验，或者设计相关的问题等。

项目总结是对自己做过项目的反思，比如你的收获是什么？你的成长和踩过的坑有哪些？你是否有相关的建议和想法帮助项目改进的更好？*三、遇到的问题及解决方案

在实际项目中，要么会遇到无法实现设计功能或效果的情况；要么上线后根据用户反馈或功能迭代，原有的逻辑布局需要调整。交互设计师在设法解决这些问题的过程中体现了以下能力：

1. 对业务和产品线的了解

工作项目不同于模拟作品，不可以天马行空的设计，在意的不是酷炫的交互效果。交互设计师更多需要考虑的是碍于资源有限、开发周期短、实现成本等因素，对设计方案的调整。*2. 创新能力

创新并不是指多么不可思议的想法，更多时候是指对历史和现有的总结升华。比如我之前文章中写到的《顶部导航交互方式的灵活应用》，看似是简单的交互创新，但背后却蕴含着对用户使用场景的深入思考。

四、把握聚焦与多样之间的平衡

因为作品集是通过一个模版展示不同作品，需要注意两个优先级问题：作品质量与数量的优先级；专业领域纵向深度与横向拓展的优先级。

作品的好坏程度远胜于作品的数量多少。这里并不是说项目多了不好，而是指不要为了充数在作品集里放自己不够满意的作品。一定优先放有代表性的满意的作品。

面试方首先看重你的垂直聚焦能力，其次在意你的横向拓展能力。这里的关键点是：一个方向做精比在各方面都做一点更具有竞争力。如同创业一样，先从一个方向切进去做到足够好，找到发展的核心优势，之后再考虑业务的横向拓展不断提升价值。

总结

以上是我对准备交互作品集时应该注意哪些问题的梳理，希望对你有所启发和帮助。如果你有更好的观点补充，欢迎留言交流。</string>
		<key>contentImg</key>
		<string>ExpOne_1*ExpOne_2*ExpOne_3*ExpOne_4*ExpOne_5*ExpOne_6*ExpOne_7*ExpOne_8*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>进退失据的UI设计，到底需要什么做灵魂</string>
		<key>headerImg</key>
		<string>exp_2</string>
		<key>contentStr</key>
		<string>小优同学其实已经毕业2年了，青春无敌的面庞依然留有一点学生时代的稚气，大概也是因为这份青春的气息加上积极向上乐于学习的态度，不知道从什么时候起，设计部门里的同事半调侃半赞赏地开始称呼她「小优同学」。

早在大三的时候，出于对 UI设计的热爱，小优同学已经开始用自己的 Macbook Pro 一边学习一边接私单，得益于此，寝室的姐妹也没少跟她一起去簋街敞开了吃小龙虾。

毕业季来临，小优同学放弃了并不那么热爱的本职专业，而是向着自己热爱的设计靠拢。得亏大学后2年的积累，小优同学被一家20多人的小型创业公司相中了，由此告别学生时代，开始 UI设计师的职业生涯。

在过去的2年时间里，小优同学每天早上都得跟随着西二旗汹涌的人流，挤上地铁，前往位于中关村善缘街的办公室。*北京干燥的气候，坚定不移上涨的房租和忙碌紧凑的节奏，都没有成为小优同学的障碍。在 UI设计这个圈子里，小优同学已经坚定不移地奋斗了4个年头，对于软件的使用早已熟稔，设计的趋势，各平台的规范也都了然于胸，产品的需求和客户的意见再也不会像刚入职的时候那样让她手忙脚乱。

是，在最近半年的工作当中，小优同学隐约感受到了一丝压力。参与的设计项目越多，越发清晰地感受到 UI设计师这个职业上方的玻璃天花板。不是不懂得排版，也不是画不好界面，更不是不清楚最新的效果如何实现，而是发现自己并不懂得 UI元素背后，真正的原理。

「我知道它们每个控件的名字，也知道它们大概应该在哪，可就是说不清楚为什么。」

这次的项目，小优同学的任务是要为一个老产品重新设计一整套的控制面板。这个面向企业用户的产品有着相对复杂的业务逻辑，随着甲方业务的快速变化，这个产品的界面和功能都要进行相应的调整。在重新设计控制面板这个事情上，小优同学开始发现自己的经验不够用了，并不是不会画，而是「不知道为什么」所给她造成的困扰，开始影响到了自己的 UI设计了。

已经是周五的下午4点，面对着依然半空着的 UI设计稿，小优同学焦躁地摁动着中性笔顶端的按钮，一下又一下，设计稿看样子是陷入僵局了。*沉思间，肩膀被人轻轻拍了一下，小优同学回头，看到了端着马克杯的盯着她的昱姐。

昱姐是公司的资深交互设计师，10多年前就已经在做着交互设计的活儿，设计 UI 称得上是大佬，对于产品也有着颇为独到的见解，目前负责公司内一个主要的产品的更新改版。

「看你纠结好几天了。碰到问题了？」昱姐的左手轻轻搓着马克杯的杯口边缘，笑着问到。

「是呀，有点无从下手，不知道为什么，也不知道哪里出了状况。」松开手中的笔，小优同学双手纠缠。

「不缺这一时半会儿，溜达着，聊聊呗。」昱姐说道，拍了下小优同学的肩膀，笑着转身带头走向门外。

「好哒~」小优同学意识大佬又要传授秘技了，赶紧跟上。

「功夫往往在诗外。你的疑惑和问题可能并不在这个项目里，答案往往是在其他的地方。」昱姐微微一笑。美剧里的掌故

「看过美剧《疑犯追踪》么？」昱姐扫了一眼正在摸鱼看美剧的前端，下意识问道小优同学。

「当然看过！我喜欢根妹！宅总也很有意思！」聊到自己感兴趣的剧，工作上的不快似乎都被抚平了。

「宅总有个特别有意思的爱好，还记得么~」昱姐嘴角的弧度里面仿佛藏着什么秘密。

「是收藏什么电脑……」小优同学右手抚摸下巴，迟疑道。*「对，那个叫做施乐之星，最早有着图形化界面的电脑，诞生于上世纪70年代中期，之后的苹果和微软的操作系统界面也都是抄袭自这一产品，也算是一次伟大的抄袭吧。」昱姐盯着窗外，眼神中有一丝神往。

「最初的图形化界面的设计者当中，有人是信息工程学背景背景，有的会写程序，也有精通平面设计的设计师，有钻研行为学和心理学的学者，各有所长，从不同的领域汇集起来，一同创造更为优秀的软硬件，当然，还有UI。」*「如今显而易见的设计，在当时都是参考各个领域的知识，从0到1一点点创造和摸索出来的。最表层的图形界面，只是诸多领域的一个视觉交汇点，它的纵深维度，远远不止于此。」昱姐的表情有点高深莫测。

从电影到交互的维度

「你有看过4D电影嘛，小优同学？」昱姐的思维之飘忽，让小优同学有点猝不及防。

「诶，你说的是那种会跟着电影场景变化，椅子会跟着摇动或者震动，会喷水的那种4D电影么？」迟疑了一下，小优答道。

「对！其实这个东西可以帮你更好的理解你的 UI设计和交互。」昱姐喝了一口咖啡，继续说道：「你所看到的电影字幕和文本，都是一维的，而海报，电影中平铺的场景，就是二维的，这个不难理解。电影院借助3D眼镜和偏振光，让你感受到远近距离和物体的厚度，这就变成3D的了。那么4D指的是什么呢？对，是时空。」

「UI设计中，文本元素是一维的，常见的图标啊图片啊，UI控件啊，这些都是二维的元素。很多时候，对于 UI 的探讨还仅仅停留在这个层面上。UI界面中很多东西会模拟现实世界中的实体，比如带有光影的按钮，带有阴影的卡片，它们会有实体一样的质感，这是三维。可是，当一个 UI元素在动效的加持之下会运动，它身上就有了时间的属性。这就算是四维的了。真要说起来，这真得只能简单地归为 UI 的范畴么？我觉得，根子是在交互上。」*「这让我想起两个关于苹果的掌故。一个有个年轻人去苹果面试，带着他亲手制作的一个小样给乔布斯看，他让底部的 Dock 中的图标随着光标的移动而出现缩放的动态效果，点击之后图标会灵活地弹跳，他因此而入职苹果，并且随后负责了 Mac系统中这一功能的开发。」

「这个我太熟悉了。」本身就是 Mac 用户的小优同学感叹道：「所以动效实际上是增加了时间维度的 UI元素对吧？」

「可以这么说，但是还不止。」昱姐说道：「通过合理的设计，你还能通过合理的设计感知到重量！」

「那是怎么实现的？！」小优同学瞪大了眼睛。

「这就是另外一个故事了。早在80年代，开发最早的 Macintosh 系统的时候，有位工程师就开发过一个特别有意思功能，当用户把文件拖到一个文件夹的时候，会根据文件大小，系统发出不一样大的声音，大文件放进去会发出更为沉重的声音，而小文件放进文件夹的时候，会在声音上作出更轻巧的回应，这样一来，用户就能感知到文件的大小重量了！」

「所以，UI设计的根源要往交互上找。但是仅仅了解交互的维度是不够的。这个时候该祭出乔帮主的名言了：」*「设计不只关乎外观和感觉，设计需要洞悉产品运作的原理。」

「这句话我听过！」小优同学开始对这句话有更深入的理解。

「对，交互设计根本上是关于人的科学，需要设计师了解人的心理和行为，也要明白事物运作的规律。懂得交互，就能够更好地将人和数字界面真正连接到一起。如今在设计行业当中，有许多职位都强调要懂得用户体验，而用户体验本质上也是关于交互，关于人的。从根源上掌握设计的脉络，UI设计师，UX设计师，产品设计师，产品经理，这些都只是头衔。」

「就是说，我要知其然，也要知其所以然才行！」小优同学高兴道~

设计要回归基础

「在70年代之前，电脑没有界面，靠的是小纸条来输入输出内容。在80年代到新世纪，图形化界面逐步占据主流，以鼠标和键盘为主的交互，而如今的我们，已经随着 iPhone 的诞生，手指触摸成为主要交互手段。 」*「这有什么问题吗？」小优同学听出昱姐似乎要抛出什么重要的论调。

「如今移动端交互是主流。对于许多00后而言，他们自出生之后就有 iPad 和大屏手机相伴，而从事 UI、交互、产品的从业者，入行的时候，iOS 和安卓已经是最主要的平台，甚至它们就是一切。想想看，你开始学习设计的时候，真的去追溯过 UI设计的根源么？更多的恐怕只是图形元素和界面控件之间的排列组合吧？」

「大概就是这个样子……」小优同学忍不住挠了挠头，不好意思地笑了。

「先进的平台赋予你更高远的视野，可是距离扎实的大地，就更远了。但是身为设计师，恰恰是需要回归基本，才能让设计走心又走肾。再高级的海报设计，都是从基本的平面构成开始的，功夫无非是一横一竖，好的 UI设计的基础不止是懂得软件的运用，还要懂得人的心理和行为，以及事物运作的规律，通常，我们常常简单称之为交互。」昱姐笑道。

流程的力量

「我们现在常说的用户体验设计，也是交互设计的一个部分。你想让你的 UI 更加优秀，自然也是希望 UI 的体验也足够好是吧？」

「我当然想要我的 UI 用户体验更好啦！所以我要怎么做？」小优同学觉得没带个小本子出来真是失策。

「一个合理的设计，通常不是简单的 UI 排列组合，这个已经说过了。按照现代数字产品设计的成熟流程，我们会划分出前后5个不同的层级，从前到后分别是战略层，范围层，结构层，框架层，表现层。UI设计师输出的界面应该算是最后面的表现层的产物，如果没有前面四层打好基础，自然就没法在最后输出好的设计啦。」昱姐看了下喝空的咖啡杯，将杯子顺手搁在窗台上。*「整个构建过程当中，交互设计师几乎是全程参与，贯穿始终。在产品立项初期，交互设计师需要协同产品经理、用研和公司高层，一同敲定战略层和范围层，也就是产品的方向和基本的功能特性，在用户研究等支撑信息的帮助下，协同产品经理，完成需求文档的构建。此后，确定目标用户，不断了解用户的特征、喜好、行为模式，转化需求为低保真原型，随后搭建信息架构，梳理产品流程，完成页面原型，随后协同 UI设计，完成高保真 UI 效果图。当然，这些你大概都是了解的。」昱姐如数家珍地说出了交互设计师的工作职能。

「所以，我想要继续进步，得从交互开始了？」小优同学感觉像是被醍醐灌顶了。</string>
		<key>contentImg</key>
		<string>ExpTwo_1*ExpTwo_2*ExpTwo_3*ExpTwo_4*ExpTwo_5*ExpTwo_6*ExpTwo_7*ExpTwo_8*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>总监经验！视觉设计师必须知道的交互设计模式</string>
		<key>headerImg</key>
		<string>exp_3</string>
		<key>contentStr</key>
		<string>很多人在这个信息爆炸的移动时代，更想看到一些所谓的「干货」，干货到底是什么，可以直接拿来上手的是干货吗？还是需要你经过判断和思维转化再处理得到的属于自己的启发？利用本篇交互模式大家可以更好的思考，归纳。

一、为什么学习交互设计模式？

在 dyj 时期有一句口号是：人有多大胆，地有多大产，形容的是人想法有多大，那地的产量就会多大。虽然这是一种错误的思想，但是我们可以换个角度理解：你脑中的知识和经验越多，你就能在更多的场景中运用自如。所以我们需要积累我们脑中的知识池子——库。当我们有了一定的思维方式之后，我们需要依靠脑中的知识、经验来帮助我们做专业的事情。

如你想成为专业的木匠，那你一定要知道不同的手法和不同的工具能够刻画成千上万种不同的纹路、物件，需要日积月累。
如果你要成为专业的伦敦「的哥」，那你要完全熟悉，市中心半径2.5公里范围内，超过2500条街区的道路，能够到达客户想要去的任何一个在此范围内的角落。
如果你要成为资深的设计师，那你就要知道非常多的模式和形式，一般我们称交互模式，和视觉形式。只有当你积累足够多不同的案例经验之后，你才能够成为专业的行家。
二、什么是交互设计模式

Alan Cooper 在 about face4 中是这么解释的：交互设计模式是捕捉有效设计方案，并将其应用于类似问题的方法，尝试将设计理论形式化。强调的是设计问题的解决方法。

我们在日常使用产品的过程中经常会接触到一些基础的单元，我们称之为交互单元，研究过开发者指南的朋友肯定知道，iOS 和安卓会一些样式有区别，但是功能相同的交互单元，比如开关、选择器、对话框等。*也有同样的手势操作规范：点击、滑动、长按等，由这些交互单元组合成更大的交互单元。*比如点击某个图标，页面底部滑出一个组件 Action Sheet（动作菜单/动作面板/行动列表），按钮是基本单元，而 Action Sheet 则是一个复合单元。这些许许多多的交互单元通过不同的形式和结构组成了更多不同的复合单元，以便于满足不同的用户、任务、需求、情境、操作以及反馈。

三、交互设计模式如何使用

在使用之前，我们先思考以下几个问题：

我的设计背景是什么，选择那种交互设计模式适合当前场景、任务或者流程？
这个交互设计模式有几种不同的形式，能承载哪些不同的内容？
该交互模式的局限性是什么？
该交互模式是否在产品其他地方使用过？在什么情境下？需要做相应调整吗？
以下进行三个案例进行分析。

案例1：Action Sheet*移动设备的屏幕可以说是寸土寸金，所以 action sheet 为了承载更多内容，并减少对用户的干扰，它呈现了与当前页面相关的部分操作和内容。用户能够通过点击按钮唤出该控件。
一般选项较少时，我们选择列表形式，选项较多时为了避免列表滚动造成的误操作建议选择宫格形式。要注意的是 action sheet 这个组件只可支持点击立即跳转的交互，并不支持输入，也不能用在表单中。
它能防止用户误操作。
其实安卓也有类似的控件，但是他没有取消按钮，因为安卓有物理返回按钮，同时 iOS 有些应用在使用的过程中，也没有将取消按钮放在底部，甚至有些在右上角放置了一个关闭按钮。
它经常被各种软件进行自定义控件设计，但是该交互模式无法承载太多内容，因为本身就是为了让用户快速对当前页面进行额外的操作，所赋予作用。
案例2：图标按钮*第一张和第二张界面长得非常相似的控件，都是通过右上角一个功能图标通过点击行为后触发的。那么为什么要把那么多信息都集成到一个入口，是因为如果信息在单个页面承载过多会导致许多问题：目标不明确，用户决策成本高，页面结构混乱等等。所以为了解决该问题，这里应运而生的使用了该交互模式。

那么问题又来了，这样的交互模式针对的问题太宽泛，难道什么东西都可以往里塞吗？我的集成入口只能放在固定的位置吗？为什么有的有取消按钮，有的却没有呢等等。

所以交互设计模式也会出现这些情况：

相同的功能图标可能发生不同的交互行为和信息展示。
即便不同的功能图标，承载的信息也可能是相似的。
图标的位置、形式以及所触发的内容是由目标所决定的。
根据内容的长度可以考虑隐藏一部分功能，例如取消，用户心智已可以理解点击空白取消。
交互模式需要在相应的场景或者情境中去，脱离情境的交互模式是不客观的。你会发现我们常说产品有不同的性格和风格，那么决定产品的性格基本上是由表现形式和交互模式来共同决定的，交互模式无法像乐高那样固定的拼凑，而更像是橡皮泥，在一定的规则下能够进行多样的使用。

案例3：表单*我们通常将左侧的下拉表单叫做为「下拉菜单」，那么我们所知道的是：

下拉菜单也是表单的一种。
单行表单可以进行拼接，成为一个列表。
单行表单可能会有几种形式：只有左侧有文字；左侧有文字右侧有说明还有箭头；左侧有标题右侧只有箭头 ；当然表单还可以放置 Picker、Segment Control、Radio Button 等控件，还可以有双行表单等。
表单不仅仅在单个page上静态存在，还可以通过交互行为动态存在。
这样形式的单行表单不能够支持左滑删除。
带箭头的表单可以进行页面跳转，但是不能展开此表单。
下拉菜单没有箭头，但我们明显知道，当我进行点击后，页面即将执行对此条件进行筛选的结果展示。
如果是一个好友列表那么安卓长按可以删除，iOS 左滑可以删除。
以上是简单对上图中的交互模式进行一个分析，两个界面中的信息，在形式上非常接近，但是不同的信息组合和结构，产生了不同的产品行为和用户预期，为了解决不同的问题而出现的不同的模式。如果我们对这些模式不够了解，也就无法针对不同的目标作出相应的反馈。

我知道你生病了，但是我不知道你得了哪种病，我没办法医治你。

我知道你得了哪种病，但是我不知道给你吃什么药能让你康复。

总结

越来越多的交互设计模式应运而生，我们需要不断的去收集，形成自己的经验。在不同情境下对交互模式进行分类归纳，等需要使用的时候即使不能快速应对也能够从中找到或者衍生出一些符合当前情境的交互设计模式。</string>
		<key>contentImg</key>
		<string>ExpThree_1*ExpThree_2*ExpThree_3*ExpThree_4*ExpThree_5*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>毕业季期间，给你一份阿里和京东的校招交互岗面试经验总结</string>
		<key>headerImg</key>
		<string>exp_4</string>
		<key>contentStr</key>
		<string>首先交代一下背景，自本科起学习工业设计专业，是工科出身的设计类学生。在研一就开始去各大公司实习（总共待过三家），去年跟大家一样，机缘巧合下，走到了校招这座独木桥上，然后就开始苦逼的校招找工作之旅。

本篇分享是笔者自2017.8月开始至11月面试过大大小小公司的经验总结，希望学弟学妹们可以通过文章避免我当时踩过的坑，都能通过校招找到自己满意的工作。同时，也是对自己参加秋招面试这份经历的一份总结、沉淀。

一、阿里巴巴B端产品交互岗位面试（校招，HR面）

说起阿里的面试机会也是机缘巧合，之前的一个同学的同学在阿里，帮忙内推的提前批。

在这里要强调一个问题，就是内推人可以选择将你的简历推送到哪一个事业群。因为我当时没有做好提前的功课，就没有一个方向性，所以内推人将我简历推到了「阿里巴巴集团大事业群」，与之并行的有「蚂蚁金服事业群」、「天猫」等等。

还是建议大家在内推阿里之前，有一个方向性，这样也会增加自己的成功率和目标性。后来才知道：笔者这种推到集团总部的捞起来的成功率低很多。（也许也跟交互属于大 UED 部门有关）

总之，我在7月底投递之后，隔了大概3天左右收到了面试通知。面试官首先介绍自己是阿里巴巴基础架构事业群 AIS-UED 的资深交互设计师，听事业部名字应该能了解，肯定是偏B端、企业内部系统类的部门。

但是毕竟阿里巴巴在业内也是很有影响力的，所以还是鼓起斗志好好面试。

1. 初试

初面是一位很和蔼可亲的大姐姐，接到电话面试时，是一个普通的燥热的周五。

当时已经是晚上7点钟（我估计是面试官刚刚结束手头工作），我还在实习的公司，工作还没有做完，所以我跟面试官提议：推迟一个小时面试，面试官爽快的答应了，而且还跟我道了歉说：很冒昧这么晚来面试，因为工作太忙了。这件事也体现了阿里人的职业素养。

一个小时后小姐姐来电话，所幸的是，公司同事走得差不多了，我自己独占了一个会议室开始面试。这里要提一点：如果是远程面试，面试的环境很重要，直接影响你的回答质量和对方的心情。

然后正式面试开始。

首先自我介绍，在自我介绍的时间段内面试官在快速浏览你的简历，大致了解你是个什么样的人，有什么特点，所以自我介绍尽量说简历之外的、突出自己优势的方面。

比如，对于交互岗位：你可以说在实习一年过程中，你得到了哪些是学校给不了你的，平时上哪些网站，你喜欢的设计风格，你学习的前端知识等等；对于产品岗位：聊一聊自己对于产品的理解，主动说下对面试公司产品的了解与看法。

总之可以突出你的特点让面试官记住你的部分（以下以提问 – 问答的形式，简述面试过程中遇到的问题）。

三段大厂实习经历，哪段实习经历影响我最大？

分析问题：这个问题实际是考察你在实习工作中获得了多少。

有的人实习可能只得到了简历上的一行字，有的有心人可能从基础的沟通、邮件的行文、自我的沉淀、工作的方法都有一个质的提升。

回到问题本身，我当时回答的是最近的一段在网易杭研院的实习经历（一定要挑你最熟悉的，建议说最近的），建议从几个方面回答自己的收获（基础能力——专业进阶能力）：

基础：

邮件/行文（良好的工作能力是基础）
沟通能力（与PM、视觉设计师、前后端开发等沟通）
自我管理（时间规划能力等）
熟悉团队组件库、融入团队
独立思考能力
专业：

能够独立完成版本内功能交互设计；
对于产品应用到的常见交互形式收集和优缺点分析（输出报告组内分享）；
可基于现有产品情况主动发掘要改进的需求；
你是怎么理解交互设计师岗位的？

分析问题：这是个范围较大的题目，建议分要点按逻辑回答。比如：从交互设计这个学科到交互设计师的职责，再到具体的项目。

个人对这个问题的理解是：

首先说交互设计学科是对人和界面以及服务器交流互动的过程进行设计，交互设计师通过设计手段解决这个过程中存在的认知障碍；
然后说交互设计师岗位的核心竞争力：从需求分析——过程等等——到最后跟进项目上线，总体来说交互岗位需要的逻辑思考能力远大于图像设计能力；
最后要提出自己的认识，个人理解交互就是对用户的行为进行设计，将行为代入特定场景中，根据反馈、或数据去寻求最优解决方案。
最后就是一些作品集细节问题，每个人各有不同，我就不拿出来单独赘述。

这里要提醒新人一点的就是：一定要在面试之前做好充足准备，充足到作品中每一个细节都经得起质问。笔者的经验是：每次与自身交互或者 PM 面试，他们的眼光犀利到你产品每个细节存在哪些问题都一目了然。

2. 复试+HR面

复试是在过了几天后，UED部门总监面试来了。部门助理先是发邮件安排线上视频面试，发了邮件点击链接后进入视频会议（下图）。*这次专业面试给我体验很差的一点是：面试官普通话说得不太好，也导致后来的一些问题都没在手机上记录。

总之也是围绕在作品和经历来说，总监比较喜欢问一些大而泛泛的问题，比如：

平时喜欢看什么专业书籍？这个问题见仁见智，是每个同学日常的积累。但是回答时也要注意逻辑，最简单的就是把书籍目录记下来的背一遍就好，最好加上自己的理解。
你在实习过程中 B、C端产品都有涉猎，那么你认为二者有什么区别？对此问题笔者也做过一个浅显的总结，所以答得还算让面试官满意。总结链接：http://www.woshipm.com/pd/1003737.html
职业发展规划？（这个就不回答了，参加校招的同学应该都有准备套路）
最后是 HR 面试，这个环节千万不要掉以轻心因为很多同学都是倒在了 HR 面试上。总之，总体原则就是在诚实的基础上做到符合公司价值观就可以，这里就不细说了。

3. 总结

面试完成后笔者感觉不太好，所以也没有因为面到了 HR 而开心（事实证明，10月份收到了拒信），而9月才是正式校招的开始，所以就积极准备别家大厂面试去了。

阿里每年秋招的时间都是最早的，所以当时面试的同学应该都没有多少面试经验。但是平时可以通过实习面试等去锻炼自己的面试技巧，这样在面试阿里是可以有很大优势。

总体来说阿里巴巴的面试官水平还是蛮高的，而笔者从本次面试获得最多的就是：回答面试官问题时，一定要有逻辑，分要点回答。

建议大家经过平时的相关练习，锻炼自己演讲方面的能力，尤其是 PM 和交互岗位，这一能力是至关重要的。

二、京东交互设计师岗位面试（校招，Offer）

1. 初试

在面试完阿里等一批大厂的提前批岗位后，积累了很多经验。这里也要提到：记录、总结的重要性，好记性不如烂笔头。所以在面试时还算有一点点准备。

下面开始说面试过程。

初面是一位30岁左右的男性，资深交互。感觉到大厂校招还是很正规的，并且比较注重基础。因为他们是想培养应届生成为公司骨干，而不单单是找到一个撸原型、做需求的工具。

下面是一些基础问题：

PC、移动端交互设计的区别；
iOS和Andriod交互规范的区别；
怎样理解服务设计和全链路设计？
最后还有一些职场规则：在 Deadline 已至，工作没完成应该怎么交代？与领导或同事的意见不一致时，应该怎样处理？
专业部分：

你之前实习时，组内的工作流程？

此题目是考验你的工作经验和面试部门的契合度，也是考量面试者本身的交互设计能力，考察你是否应用到平时所说的方法论、是否接到一项任务后直接进行盲目的交互设计。

一般成熟的 UED团队或者业务团队，工作流程都是类似的：从 PM 的需求交到你手中那一刻起，你要了解需求的来源，解决了什么问题，应用到了什么场景中（从哪来 – 到哪去 – 去干嘛）。

所以尽量回答得详尽，不要等面试官给你的答案进行补充，一定要回答到每个点上。

你认为交互设计的本质是什么？

这个问题当时我回答得不够好，可能太局限在交互设计岗位本身，需要跳出来理解交互设计这个大行业。

我就不说自己的答案了，直接说面试官的答案，很简单就4个字：行为、反馈。

交互设计的本质就是对用户行为的设计，以及研究在用户完成行为后界面给予的反馈。这也让我联想到了江南大学辛向阳教授的一篇论文：《物理界面与行为界面》，感兴趣的同学可以读一下。

2. 复试

经过两天后，又来到同一个地点进行了复试，有意思的是在面试房间外等候时，我看到了一「幅」鸡汤，现在感觉还是挺受用的（下图）。*回归正题，复试由于交叉面试是跨部门，我的面试官是一位产品总监。产品总监的问题也偏向于产品层面，和产品、交互的关系。

下面是几个重要的问题：

怎样理解产品的功能性与体验性，以及二者之间的关系？

巧合的是，我在知乎上很久之前看到过类似问题，所以记得大概的主流想法。

分析问题：PM 提出这个问题在他本身岗位的立场上，应该是偏向于功能性，而交互设计师又应该对产品体验负责，所以答法就有一定技巧了。

首先，确定产品功能性的重要性：功能=有用性+可用性，体验=易用性+创意。

产品如果没有了基础的功能就无体验可谈，具体可对应到马斯洛的需求层次理论：生理需求、安全需求、社交需求、尊重需求和自我实现需求。

而后，再明确体验对于一个产品的重要程度，用一个我作为交互设计师很不愿意承认的词：锦上添花。的确正如上文所说：体验就是在功能性满足用户高频需求的前提下，锦上添花的「高层」，它无法成为「地基」。

最后，再提出不同产品对体验的需求程度不同，提出产品发展理论：每个产品都存在萌芽期 – 发展期 – 成熟期 – 衰败期，那么在产品萌芽和发展之时，决定产品成败的直接原因只有功能；在发展成熟的产品中，功能需求已经饱和的情况下，体验可以从一定程度上决定用户的粘度和留存率。

所以前几年互联网中盛传的「体验为王」的观点，确实太狭隘。

在你以前的经历中，作为交互设计师怎样跟 PM 合作？

分析问题：这个问题实际也是考察工作的规范程度。

首先要明确：交互、产品是一家，在需求评审直至最后上线的过程，都需要站在同一条船上。交互和 PM 是不分家的，这也是越来越多从业几年的交互转岗 PM 的原因，二者工作职能有很多重叠之处。

最后，描述一下实际工作流程就可以了。

3. HR面（Offer）+总结

过了几天之后，HR 面试如期而至。巧合的是，HR 来电话时我正在一家餐厅吃饭，还好吃得差不多了并且餐厅环境很安静，之后就在盖饭香弥漫的环境中进行了HR 面试（现在想想我心真大）。

不过有幸的一点是，HR 也没有为难，只是问了一些工作之外的情况，也算是有惊无险的完成了。一周后邮箱内顺利躺着 offer 邮件，想想秋招的辛苦准备没有白费吧。

最后说对京东面试的体验：感觉还是比较注重设计方法论、理论方面（大厂特征）。

建议同学们没事多读读书，少打两局游戏，其实读书是一种习惯，养成了习惯后想改都改不了。

京东之后也面试过 PM、交互岗位，拿到了几家二线公司的 offer，后续的文章也会将笔试题和之前写的一些 PRD 模板拿出来跟大家分享。</string>
		<key>contentImg</key>
		<string>ExpFour_1*ExpFour_2*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>交互基础小课堂！如何利用「行为模型」让用户行动起来？</string>
		<key>headerImg</key>
		<string>exp_5</string>
		<key>contentStr</key>
		<string>想一个问题吧，如果有人给你发了一条微信，你没有回复 ta，原因是什么？

可能是给你发消息的人对你来说不重要？或者消息内容不重要，不需要立刻回复？
可能是你暂时特别忙，没有时间回复？
也可能是你的微信关闭了消息提醒，没有听到手机震动，不知道有人给你发了消息……
原因会有很多种，但是几乎每一种原因都可以对应到更深的层次。比如给你发消息的人对你而言不重要，是因为缺乏了回复的动机；没时间回复是因为缺乏了回复的能力；关闭了提醒是缺乏了回复的触发因素……

动机，能力，触发三大要素，是让用户产生行为必不可少的三大条件，在行为模型里也十分重要。

一、什么是行为模型？

最早在 Norman 的《设计心理学》了解到关于行动的几个步骤，他将行动拆分为目标，执行，评估三大阶段，每一阶段又分为几个步骤，简单画了逻辑图 ：*但是很多时候会发现，用户不一定会按我们所设想的方式去使用我们的产品，特别是注册，购买等能提升转化率的行为……我在查询了一些关于心理学方面的内容后，发现了用户不进行这些行为，其实都是有可以解释的依据的，并且我们还可以利用这些依据来改善我们的产品。

从前面微信的例子，我们可以得知，要想让用户产生行为（Behavior），必须具备三个要素：充分的动机（Motive），完成这一行为的能力（Ability），促使人们付诸行动的触发（Trigger），这三者缺一不可。

于是我们可以得出一个行为模型：B=MAT，我们可以从数学的角度类比出人们产生行为的「临界点」，可以称为「行动边界线」（当然这是我自己瞎取的名字，方便理解），只有用户跨越了「行动边界线」，才能实施或者产生某种行为。*二、关于Trigger——触发

所谓触发，就是促使用户做出某种举动的诱因，引发用户去使用你的产品。

比如通过在其他平台广告推广等付费方式吸引新用户，这个可以称为「付费型触发」；

还有一些公关、媒体新闻的正面报道 ，app store 里面排行榜，AppSo 推荐好用应用等不需要付费，但是能够吸引用户使用你的产品，这个可以称为「回馈型触发」；

还有熟人之间的相互推荐，亲朋好友的口碑相传，这种方式十分常见，也是能够让产品大规模获取用户的一种方式，我们可以称为「人际型触发」。

但是这种方式经常会被恶意利用，比如我们经常看到的：分享XX到几个群即可领取XXX优惠，最后却发现是骗人的方式，利用这种方式也许可以获取大批用户，但是一旦用户发现被欺骗后就会立即停止使用你的产品，你也会失去用户的信任。

还有一种是以驱动用户重复某种行为的方式，用户主动与产品保持联系，比如用户注册了某个平台的账户，订阅了它们的内容更新，开启了消息推送，那么每一次更新推送就很有可能触发用户使用你的产品，这种方式可以称为「自主型触发」。

以上四种触发方式，都是来源于外部环境，那么我们可以将其称为「外部触发」。*昨晚在 PM CIRCLE 里面看到大家在谈论关于痛点、痒点、爽点的问题，也出了系列文章，后来在知乎上也搜了相关大佬的回复。

小小的总结一下：

「痛点」可以解释为痛苦的点，用户在不满，抱怨，生气，恐惧等负面情绪会产生痛点；
「痒点」可以理解为虚拟自我的实现，比如 B612 的瘦脸大眼，现实生活中的很难实现的，在 B612 里面能够让用户得以释放和解脱，映射出虚拟自我；
「爽点」就是老生常谈的即时满足了，压抑久了的需求突然被满足，那就是爽，有需求，还能即时满足，那么就是爽。
为什么我会提到「痛点」、「痒点」、「爽点」？是因为我觉得这三者是从内部来触发用户采取下一步行动。

Nir Eyal 将情绪触发分为两种，一种为负面情绪，一种为正面情绪，两种情绪皆可触发用户采取行动，但是我觉得如果利用「痛点」、「痒点」、「爽点」来分析内部触发的话会更好，这三点通过深入挖掘用户内在的情感体验，设计出满足用户需求的产品，利用这三点也可以触发用户使用你的产品。

可以思考一下，人们为什么要发朋友圈，发微博？为什么要拍照？为什么要刷抖音？为什么朋友圈更新出现小红点后我就要去点击看？用户借助这些产品实现了怎样的目的？消除了什么样的烦恼？使用完这些产品后用户感受如何？等等问题。*三、关于Ability——能力

可以把能力解释为完成该行为的难易程度

Hauptly，Denis J 有一个观点就是：当你使用某个产品时所需花费的步骤能被缩减或者是优化时，用户使用它的频率就会增加。他在《Something Really New》一书中，归纳了产品创新的三个步骤，简单画了下步骤图：*                                                                                *福格建议，为了增加用户实施某个行为的可能性，设计人员在设计产品时，应该关注用户最缺乏什么。

也就是说，要弄清楚是什么原因 阻碍了用户完成这一活动：是时间不够吗？还是缺乏资金？还是完成这一活动太耗体力了？或者是用户不想动脑筋？或者是这个产品与他们所处的社会环境格格不入？甚至是它太逾越常规，以至让人难以接受？

我记得我第一份实习，做的一款新闻app，那个时候还不懂交互也不懂产品，我记得在首页查看新的新闻内容的时候 ，因为数据加载量的原因，每次只能加载一定数量的新闻，所以当时设计的是一个「查看更多」的列表条，用户每次需要加载更多新闻内容的时候，都需要点击一次「查看更多」加载大约6条新的新闻，其实现在想想，为什么我们不设计一个自动加载呢？每次用户上拉的时候，自动加载一部分，这样能够让操作更加便捷，节约时间。

四、关于Motive——动机

触发是提醒用户采取行动，而动机决定用户是否愿意采取行动，也就是用户行动时拥有的热情。在心理学里面，福格博士归纳了驱使用户采取行动的三大类核心动机：*福格建议，为了增加用户实施某个行为的可能性，设计人员在设计产品时，应该关注用户最缺乏什么。

也就是说，要弄清楚是什么原因 阻碍了用户完成这一活动：是时间不够吗？还是缺乏资金？还是完成这一活动太耗体力了？或者是用户不想动脑筋？或者是这个产品与他们所处的社会环境格格不入？甚至是它太逾越常规，以至让人难以接受？

我记得我第一份实习，做的一款新闻app，那个时候还不懂交互也不懂产品，我记得在首页查看新的新闻内容的时候 ，因为数据加载量的原因，每次只能加载一定数量的新闻，所以当时设计的是一个「查看更多」的列表条，用户每次需要加载更多新闻内容的时候，都需要点击一次「查看更多」加载大约6条新的新闻，其实现在想想，为什么我们不设计一个自动加载呢？每次用户上拉的时候，自动加载一部分，这样能够让操作更加便捷，节约时间。

四、关于Motive——动机

触发是提醒用户采取行动，而动机决定用户是否愿意采取行动，也就是用户行动时拥有的热情。在心理学里面，福格博士归纳了驱使用户采取行动的三大类核心动机：*前几天在听 UCDCHINA 上海 大众点评 DPUX 专场《战略导向下的设计价值拓展》线下分享会的时候，其中也讲到了关于用户的7大基本心理特征——七宗罪：愤怒，淫欲，贪婪，懒惰，嫉妒，暴食，骄傲。

我觉得这也是能够让用户产生动机的七大因素 ，比如经常被广告商拿来利用的俗称「性卖点」的广告设计元素 ，利用人性的窥探欲，吸引用户付诸行动……

当我们知道了用户采取行动的几类核心动机后，我们可以通过一些心理学的方法来刺激用户的这些动机。

我在 Nir Eyal 的书中了解到一些关于启发法等认知偏差对人类行为的影响，比如稀缺效应，首因效应，环境效应，投射效应，近因效应，锚定效应，赠券效应，目标渐进效应等 。

比如很多电商平台商家会故意将商品库存降低，当产品数量由多变少的时候，它在用户心中的价值就会提高，那么用户购买的动机就会增强，这就是利用了稀缺效应 ；

再比如目标渐进效应，大意是讲当用户认为自己距离目标越来越近时，完成任务的动机会更加强烈。

目标渐进效应让我突然想到长沙的网红奶茶——茶颜悦色的集点卡，大概就是积满6点可以送一杯奶茶，我在第一次买第一杯的时候，他们给了我一张集点卡，上面已集了1个点，意思就是说我再集5个点就可以兑换一杯奶茶了，但是如果换一种方式，它把规则改成集5点可以兑换一杯奶茶，但是我买第一杯的时候，他们给我的卡上是空白的，没有点，那么你们觉得这两种方式，哪种方式更能让用户产生集点的动机呢？*总结

要促成某种行为，触发，动机，能力这三者缺一不可，B=MAT；
触发要显而易见，行为要易于实施，动机要合乎常理；
触发分外部触发和内部触发，外部触发包括付费型触发，回馈型触发，人际型触发，自主型触发；内部触发可以从痛点、痒点、爽点来分析；
影响任务难易程度，也就是能力的6个要素包括：时间、金钱、体力、脑力、社会偏差、非常规性；
动机是行动时拥有的热情，采取行动的核心动机有三大类；
可以利用启发法来获取灵感，提高产品吸引力，刺激用户的动机；
因为增强动机往往耗时费力，所以一般先解决能力问题，再解决动机问题。</string>
		<key>contentImg</key>
		<string>ExpFive_1*ExpFive_2*ExpFive_3*ExpFive_4*ExpFive_5*ExpFive_6*ExpFive_7*ExpFive_8*ExpFive_9*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>每天刷抖音停不下来？原来是用这3个设计让你上瘾！</string>
		<key>headerImg</key>
		<string>exp_6</string>
		<key>contentStr</key>
		<string>一、抖音便利的交互模式

月活过5亿的抖音被人称为有毒的产品，为防止用户上瘾，抖音甚至上线了反沉迷系统设计。

为什么抖音会让人上瘾，除了高质量的内容运营和洗脑的魔性音乐，其便利的交互模式也是一个不可忽视的因素。

笔者认为抖音便利的交互模式有三：一是竖版全屏播放体验，二是高效的手势交互，三是系列的沉浸式设计。

1. 竖版全屏播放体验

为什么是竖版视频？竖版跟横版有什么区别？*表象上看横版和竖版只是内容呈现方式不同，但不同的呈现方式下代表的是其内容的生产源和价值观的差别。

相较于横版，竖版的呈现形式更接近于视频原生，代表着来自手机拍摄的 ugc 内容，宣传的价值观更是区别于横版视频慢条斯理的精致，更加突出其简单原创，在短至15秒的时间内快速完成情感碰撞。

作为短视频代表的抖音选择了竖版，实则是选择了去中心化，选择了暗示和引导用户的内容生产。

为什么是全屏播放？*笔者认为抖音最大的创新交互是全屏自动播放，打开应用就可以直接获取内容。

视频类内容的展示方式有很多种，有入口式、列表式、陈列馆式等等，可以统称为主动触发式。用户需要获取视频相关信息从而对视频内容进行预判，从众多选择中进行筛选，视频的点击率依赖于外露内容的吸引力。

而抖音的全屏播放，是被动式触发，无需用户的思考和选择，缩短操作路径的同时大量减少用户的获取成本。

2. 高效的手势交互

上下滑动切换内容*抖音将视频内容整合成视频流，流在英文中被称为「feed」，表面意思就是喂养，实际定义为「给用户以持续消费的内容聚合器」。

用户在不同的视频内容之间切换只需要上滑即可，每一次滑动都可以获取新内容，操作简单且高效。

双击点赞*相较于传统的控件交互，手势交互本身是隐藏不容易发现的，有一定的学习成本，需要对用户进行引导和教育。所以手势交互一直是作为一种补充的交互方式而存在的。

但抖音的双击点赞就把这个手势交互做成了主操作功能，原因在于：

简单易学，喜欢请双击，简单的口号就可以让用户快速学习；
反馈强，双击之后屏幕上出现饱满的小红心;
增加趣味性，双击之后再次双击，点赞行为持续触发，遇见超喜欢的视频可以点满整屏幕的小爱心;
增大操作区域，在屏幕任何位置都可以点赞，不受限于控件位置，增加交互效率。
向左滑进入个人主页*抖音另一个很棒的手势交互是视频页面向左滑进入个人主页，看到一篇不错的视频内容，快速左滑可以查看更多这样的设计既保证了内容的连续性，又可以促进关系的建立。

3. 沉浸式设计

循环播放

案例视频：https://v.qq.com/x/page/w1344alie7a.html

一段视频内容消费完之后应该做些什么？重新播放还是播放下一个内容？

早期的视频在播放完会给用户「重新播放」的选择，到后来视频播放完会给自动重播的倒计时，而抖音直接在播放完一段视频之后自动循环播放。

笔者猜测，抖音的视频循环播放是基于其早期内容集中在15s时间的缘故，视频内容快速开始又匆匆结束，精彩只在一瞬间，有时候甚至没有反应过来，就会让人忍不住一次又一次的重复消费，很好的利用了心理学上的「蔡格尼克记忆效应」（指人们对于尚未处理完的事情，比已处理完成的事情印象更加深刻）保证用户对内容消费的沉浸体验。

如果内容消费完自动播放下一个内容，可能会打断用户当前的注意力，引发用户的反感，且不利于当前内容的互动和沉淀。

浮层操作去模态*抖音在观看视频过程中，进行评论、转发等交互行为的时候，呼起的浮层操作都是半透明的临时浮层，没有蒙层的处理，不会打断当前的视频播放行为。

这是一种为保证沉浸的非阻断式交互方式，在有交互行为时视频仍在循环播放的设计更是为用户营造了浓烈的气氛感。

抖音里没有时间*在抖音推出防沉迷系统之前，抖音跟很多游戏一样，页面里是没有状态栏的，用户在应用里看不了当前时间。每条视频内容很短，只有短短的15s，可是却不知无意中循环了多少遍。每次上滑只切换一个视频，可是却不会数下意识上滑了多少次。就这样不知不觉的彷佛只过了1分钟，却是人间3小时。

二、为什么抖音的交互模式让人上瘾

在尼尔·埃亚尔，瑞安·胡佛的书《上瘾》中提到：

要想让企业持续发展，形成正向反馈循环从而壮大发展，非常高效的做法就是培养用户的习惯，让其上瘾。上瘾的模型分为四个阶段，即触发、行动、多变的酬赏和投入。*1. 触发

《上瘾》里给触发的定义是：提醒用户采取行动，给产品一个机会入口。仅从视频内容的交互模式来看，触发就是获取视频内容的方式，抖音采用了默认竖版全屏视频自动播放的形式，减少用户的行动成本，提高触发的机率。

2. 行动

行动意指在对某种回报心怀期待的情况下做出的举动，包括行动的动机和能力。仅从交互模式来分析，抖音的无时间的设计，就是满足用户追求快乐，逃避痛苦的动机。上下滑动就可以切换视频，向左滑动可以快速进入个人主页，双击屏幕任何位置都可以点赞等一系列的交互模式都是在降低用户的行动成本，提高用户行动的能力。

3. 多变的酬赏</string>
		<key>contentImg</key>
		<string>ExpSix_1*ExpSix_2*ExpSix_3*ExpSix_4*ExpSix_5*ExpSix_6*ExpSix_7*ExpSix_8*ExpSix_9*ExpSix_10*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>用YouTube 为例，让你轻松读懂交互设计7大定律！</string>
		<key>headerImg</key>
		<string>exp_7</string>
		<key>contentStr</key>
		<string>一、费茨定律（Fitts’Law）

Fitts定律提供了一种人体运动模型，由 Paul Fitts 于1954年建立，可以准确预测移动和选择目标所需的时间。

简而言之，Fitts定律指出：获取目标的时间是目标距离和大小的函数。光标到达一个目标的时间，与当前光标所在的位置和目标位置的距离（D）和目标大小（S）有关。它的数学公式是：时间 T = a + b log2(D/S+1)。 随着距离的增加，运动需要更长时间，随着尺寸减小，选择再次需要更长时间。

——Interactoin Design Foundation*Fitts定律广泛应用于 UX 和 UI设计。例如，该定律影响了交互式按钮变大的惯例（特别是在手指操作的移动设备上）， 因为较小的按钮不容易被点击。同样，用户的任务关注区域与任务相关按钮之间的距离应尽可能短。

在 YouTube 的首页和视频播放页，频道的「订阅」按钮以非常明显的红色展示给用户，同时按钮大小在页面中的权重还是比较大的。这种表现方式，能够在最短时间内，吸引用户的注意力，激起用户产生订阅的欲望，使用户的鼠标更容易达到目标位置。

此外，像搜索框、菜单栏、个人中心、设置等一些高频功能的入口，它们的位置出现在浏览器窗口的边缘。因为，从费茨定律的角度来看，窗口或屏幕边缘区域理论上无限高或无线宽，是一个巨大的目标，用户无法用鼠标超出它们，而且容易达到目标。*为提高用户点击准确率，一些按钮的实际点击区域比你看到的要大，比如：视频播放窗口下的拇指、分享、添加、更多按钮组合。*二、希克定律（Hick’s Law）

以英国和美国心理学家威廉·埃德蒙·希克和雷·海曼命名的希克定律或者希克 – 海曼定律，指一个人面临的选择（n）越多，所需要作出决定的时间（T）就越长。它的数学公式是：反应时间 T=a+b log2（n）。在我们的设计中如果给用户的选择更多，那么用户所需要做出决定的时间就越长。

——《维基百科》

对于一个以视频内容为核心的产品来说，视频质量会直接影响用户兴趣、频道质量、算法推荐结果。因此，视频评价体系在设计时，YouTube 以最少的选项完成了视频评价体系的基础数据收集工作，即向上的拇指和向下的拇指，两个按钮。仔细再看，在两个按钮的下方，有一个类似进度的状态条，笔者认为这是一种精简&amp;弱化版的评星，而且这种按钮和评级条的组合，既为用户提供了非常快捷的评价交互，也实时直观地显示出了视频的整体评价结果：蓝色占比越大，说明视频越被喜欢。*笔者下面要分享的一件事情，虽然与 YouTube 无关，但与视频评价和希克定律关系很大。

OK，我来为你分享一下全球流媒体巨头 Netflix 的一次改版经历。在去年，Netflix 用「拇指向上和向下」的形式代替了「5星打分制」，据说今年夏天 Netflix 还将关闭用户评论区。Netflix 的产品经理认为，这种改变有两个好处：

第一个好处是去掉了用户评价的模糊区，让算法学习更高效。比如，如果有个用户喜欢一个电影，但又不想给太高分，就打了「三颗星」，这种喜欢程度不仅让人很难理解，机器学习起来效率也很低。所以，点赞这种「是否」的评判系统，可以消灭模糊的灰色地带。
第二个好处是，和5颗星的选择相比，二选一更容易选，降低了用户的反馈门槛，这样一来，不仅用户更喜欢反馈，反馈的人也增加了，机器学习结果更准确。也就是说，点赞能给出明确的信号，让 Netflix 知道用户对这个内容感兴趣，从而给用户推荐更多类似的内容，而拇指向下则会让类似的内容不再出现在用户的主页上。*三、特斯勒定律（Tesler’s Law）

特斯勒定律，又称复杂性守恒定律，指出每一个应用程序具有无法被转移或者隐匿的复杂固有量。相反，它必须在产品开发或用户交互中处理。这就提出了谁应该解决复杂性的问题。例如，软件开发人员是否应该增加软件代码的复杂性，以使用户更简单，或者用户应该处理复杂的界面，以便软件代码可以简单。——《维基百科》

这个定律是说产品/系统固有的复杂性存在一个临界点，超过了这个点过程就不能再简化了。我们只能将这种复杂性转移。比如我们如果发现页面的功能是必须的，但当前的页面信息过载，那么就需要将次要的功能收起或者转移。

YouTube 右上角的更多按钮，里面包含 YouTube 品牌下的其他产品；视频下方的按钮也有一个更多按钮；同样在视频介绍和评论区，设计了展开和更多按钮。*四、亲密法则（Law of Proximity）

亲密法则是感知组织格式塔法的一部分，它指出彼此接近或接近的物体往往被组合在一起。换句话说，我们的大脑可以很容易地将物体彼此靠近地关联起来，比分开很远的物体更好。这种聚类的发生是因为人类具有组织和组合事物的自然倾向。 从另一个角度说，此相关的物体应当靠近，归组到一起。这种同类相吸的亲密法则在 Robin P Williams 的《写给大家看的设计书》中也被提及。

YouTube 将功能入口和按钮按照一定的规则进行了区域、位置、视觉上的划分。*五、奥卡姆的剃刀定律（Occam’s Razor）

Occam的剃刀（ 拉丁文：lex parsimoniae 「 简约法则 」）是一种解决问题的原则，最简单的解决方案往往是正确的解决方案。当提出相互竞争的假设来解决问题时，应该选择具有最少假设的解决方案。这个想法归功于奥克汉姆的威廉（约1287-1347），他是英国方济各会修士，学者哲学家和神学家。————《维基百科》

回忆自己的绘画、摄影还有设计经历，笔者认为：绘画是做加法，而摄影和设计是做减法。

奥卡姆的剃须刀法则主要就是说我们做产品/系统时功能上不可以太繁琐，应该保证简洁和工具化。为什么要将复杂变简单呢？因为复杂容易使人迷失，只有简单化后才利于人们理解和操作。随着社会、经济的发展，时间和精力成为人们的稀缺资源。从这个意义上讲，简化才意味着对事物真正的掌控，正所谓「大道至简」。比如 iPhone 和 iPad 只有一个圆形的物理按钮，简单到连三岁的小孩都会使用。

YouTube 移动端的载入页仅一个 Logo；在收件箱页，当用户没有好友时，系统通过一个明显的按钮引导用户操作。*六、米勒定律（又称7±2定律）

1956年美国科学家米勒对人类短时记忆能力进行了研究，他注意到年轻人的记忆广度大约为5到9个单位之间，就是7±2法则。这个法则对我们做界面设计的启迪就是如果希望用户记住导航区域的内容或者一个路径的顺序，那么数量应该控制在七个左右，移动端底部标签通常情况下最多也是5个。*七、防错法则

防错法则认为大部分的意外都是由设计的疏忽，而不是人为操作疏忽。通过改变设计可以把过失降到最低。该原则最初是用于工业管理的，但在交互设计也十分适用。

一个走心、友好的防错设计通常表现在：

及时地告诉用户哪里操作错了。比如在填写表单时，系统给出及时地报错提示；
重要、谨慎的操作，系统通常会有二次确认；
为用户提供撤销的机会；
为用户提供纠错的机会。*总结

Unless you have a better choice, you will follow the standard.

除非有更好的选择，否则就遵从标准。

——Alan Cooper*本文遵循7±2定律，就为你分享7大定律在 YouTube 的应用。其实还有很多经典的设计法则，比如格式塔等，笔者以后还会找一款产品，为你详细分享。</string>
		<key>contentImg</key>
		<string>ExpSeven_1*ExpSeven_2*ExpSeven_3*ExpSeven_4*ExpSeven_5*ExpSeven_6*ExpSeven_7*ExpSeven_8*ExpSeven_9*ExpSeven_10*ExpSeven_11*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>界面设计中，交互方式是选择滑动还是点击呢？</string>
		<key>headerImg</key>
		<string>exp_8</string>
		<key>contentStr</key>
		<string>前几天在朋友圈看到一条关于新版知乎（iOS端）的吐槽：原来的版本中用户可以左右滑动切换答案，但是在新版本中，改成上下滑动切换答案。*这个改动引发了一个问题，用户想查看下一条答案，要滑动到页面底部。如果当前的答案字数很多或者配上了图片，那么用户就要滑动好几次才可以切换答案，这对用户体验来说无疑是一种伤害。因为自己毕竟不是知乎内部的员工，不知道这次改动的具体依据是什么。

参考了朋友圈底下的评论，大家的看法大致可以分为以下三种：

增加页面底部广告和评论的曝光度，在提升广告收入的同时，增加用户互动；
提升答案阅读完成率；
iOS端左右滑动会和返回手势相混淆，安卓用户依然可以左右滑动切换答案。*可能会有人说不一定非要滑动到界面底部啊，不是有「下一个回答」的按钮吗，你可以直接点击按钮切换答案啊。

这是一个非常好的问题，其实点击按钮切换答案和滑动切换答案代表了两种不同的手势：点击与滑动。

那么在界面设计中，我们如何确定目标元素的交互方式是滑动还是点击呢？

一、终端

滑动还是点击，不同的终端选择的标准是不一样的。我们在面试过程中，经常会被问到 PC端和移动端界面设计的区别在哪里。其实在我看来这两者最本质的区别在于——内容承载量的不同。

一个 PC 网页可以承载多个层级，多个维度的信息，内容越多，对操作准确性的要求就越高，鼠标点击可以帮助用户完成精准快速的操作。
而移动端碍于尺寸原因一个界面展示不了多少信息，展示的信息太多用户要滑动才可以看到。因此移动端设计要求界面与内容简单直接，遵循「一个界面，一个任务」的原则。
那么在这种前提下，如何提升移动端产品的易用性呢？我们可以更多的引入滑动手势，为什么？

因为相比于点击，滑动对于准确性要求不是很高。*例如：在虾米音乐的歌曲播放界面中，如果用户想返回上一界面，点击屏幕任何区域上滑就可以了。当然你也可以点击界面左上角的返回/收起按钮，但是明显费力的很多。而且大屏手机是趋势，对于习惯右手握持手机的用户来说，拇指能不能够得着左上角的按钮都是一个问题。*当然并不是所有的滑动手势都是全屏操作的，在网易云音乐中，如果你手指的落点位于唱片的外部，右滑会返回上一界面。如果落点在唱片的内部，右滑会切换歌曲，这就是刚才提到的 iOS端左右滑动会和返回手势相混淆。

以上面提到的知乎为例，其实安卓用户依然可以左右滑动切换答案，因为安卓底部有物理返回键，不会发生手势混淆的情况。

二、易感知

引入点击/滑动手势首先要解决的问题就是——如何让用户感知到这个玩意是可以点击/滑动的。

点击手势相对来说要简单点，因为最常见的按钮就可以触发点击事件。而让用户感知到滑动手势的存在是很难的，我是2016年3月份才发现原来滑动可以删除微信群记录。难固然难，但是办法还是有的。

1. 对隐藏内容进行适当展示

以知乎为例，适当的露出下一条答案，不然用户不知道原来滑动还可以切换答案。*2. 引入现实生活中的隐喻

例如：在 QQ阅读中，夜间模式的开启/关闭是通过滑动一根灯绳。对于大部分用户来说，一看到这个灯绳肯定知道这是可以滑动（拉动）的。*三、场景

接下来我们主要说一下点击和滑动手势的使用场景，这里我选取了几款我们常用的音乐类应用。对于一首正在播放的歌曲来说，用户常见的操作有：暂停/播放、调整歌曲进度/音量、切换歌曲、查看歌词、查看歌曲/专辑/歌手详情、下载、收藏/喜欢和分享等。*其中大部分的场景都是由点击手势来完成，用到滑动手势的场景只有调整歌曲进度/音量、切换歌曲。其中 QQ音乐、酷我音乐和虾米音乐都可以通过向上滑动返回上一界面，有意思的是酷我音乐依然保留 iOS 的返回手势，也就是说用户向左/上滑动都可以返回到上一界面。*点击手势用的比较多，我挑几个有意思的说一下。

在虾米音乐中，当你点赞一首歌曲的时候，并不会出现预期的「点赞成功」toast，而是一个「喜欢就去分享」的浮层。既然你点赞了，必然你很喜欢这首歌，那么为什么不分享给更多人呢？

这种交互上的小改动可以增加互动，拉来更多新用户。

说完好的，再说一个反面案例。在酷我音乐中，如果当前歌曲是合唱，用户点击歌手会出现两种情况：*《不得不爱》，点击歌手进入的是潘玮柏和弦子搜索页；
《凉凉》，点击歌手进入的是张碧晨的主页，完全没有杨宗纬什么事。
这两种筛选机制中任何一种都是不合理，而且就算是不合理你好歹也统一一下啊，连一致性都没有考虑到实在是不应该。*最后再给大家举一个例子，支付宝和京东金融都有指纹支付功能。开通流程都是一样的，点击开通按钮，输入支付密码验证身份。但是在关闭指纹支付功能的时候，支付宝会弹出一个弹框挽留一下用户，而京东金融没有弹框二次确认。

支付宝的操作很像知乎的这次改版，挽留用户属于产品的业务目标，但是挽留用户无形中会伤害用户体验——增加了用户操作步骤。但是当业务目标和用户体验相冲突的时候，让步的往往都是用户体验，很无奈。

总结

以上就是我对滑动手势的一个简单的分析和总结，如果你有不同的观点或者看法，欢迎留言。</string>
		<key>contentImg</key>
		<string>ExpEight_1*ExpEight_2*ExpEight_3*ExpEight_4*ExpEight_5*ExpEight_6*ExpEight_7*ExpEight_8*ExpEight_9*ExpEight_10*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>以Apple Music为例，为你解读格式塔7大法则</string>
		<key>headerImg</key>
		<string>exp_9</string>
		<key>contentStr</key>
		<string>简单说一下本文的选题理由：

为什么选格式塔原理

格式塔原理是设计心理学里具备纲领性和指导性的设计法则，我们非常熟悉的设计4原则「对齐、重复、对比、亲密」其实就是格式塔原理的另一种总结。从某种程度上说，自从图形用户界面的计算机问世以来，格式塔原理一直被广泛运用在设计领域，并且已经深入人心。所以，笔者有必要在系列文章里分享一下格式塔原理。

为什么选Apple Music

有朋友问我为什么你的交互设计基础法则系列文章找的案例都是国外的产品？我想说，答案很简单，因为这些产品「很设计」，说白了它们都流露出一股很浓的简约设计风格，并且对各家的设计语言执行的比较到位。坦白讲，国内很多产品做的也很 Nice，但相对来说那种很「纯粹」的产品设计，可以更好的帮助我们理解和认知设计法则。本文，为你推荐的是 Apple Music，一个可以满足「我只想好好听音乐」的产品。

一、什么是格式塔心理学

格式塔心理学诞生于1912年，是由德国心理学家组成的研究小组试图解释人类视觉的工作原理。他们观察了许多重要的视觉现象并对它们编订了目录。其中最基础的发现是人类视觉是整体的：我们的视觉系统自动对视觉输入构建结构，并在神经系统层面上感知整体和统一的形状、图形和物体，而不是只看到互不相连的边、线和区域。「形状」和「图形」在德语中是 Gestalt，因此这些理论也称做视觉感知的格式塔原理。

（PS：互联网上有很多解读格式塔心理学的图例，感兴趣的朋友可以DIY，笔者在这里不再过多描述）

二、格式塔7大法则在Apple Music的应用

1. 相似性

相似性：如果元素彼此相似，则元素倾向于被感知为一组。这也意味着如果具有相同功能、含义和层次结构级别的元素，则应在视觉上保持统一匹配。

我们倾向于将彼此相似的元素视为同一个分组。相似性可以帮助我们组织和分类页面里的元素对象，并将它们与特定的含义或功能相关联。有不同的方法可以使元素被认为是相似的，这些方法包括颜色，大小，形状，纹理，尺寸和方向的相似性。——Interaction Design Foundation

Apple Music：歌曲列表、播放列表内的元素拥有相同的功能、含义和逻辑层次结构，所以视觉形式上满足相似性法则并高度统一。*2. 接近性

当物体彼此靠近时，它们倾向于被默认感知在同一个组织中。 具体来说，物体之间的相对距离会影响我们感知它们是否或者以何种规则组织在一起。互相靠近（相对于其它物体）的物体看起来属于一组，而那些距离较远的则自动被划分到组外。

Apple Music（iPad端）：在专辑页面，专辑基本信息、播放按钮、添加剂更多按钮在内部空间上保持接近，方便用户熟悉同类功能并完成交互动作。*3. 连续性

视觉倾向于感知连续的形式而不是分散的碎片。

我们的思想更喜欢阻力最小的道路。连续性帮助我们通过构图来解释方向和运动。它在对齐元素时发生，它可以帮助我们的眼睛顺利地穿过页面，有助于提高易读性。连续性原则加强了对分组信息的感知，创建了秩序并引导用户通过不同的内容细分。——Interaction Design Foundation

Apple Music：在排行榜页面，与榜单歌曲或专辑相关的操作按钮统一出现在屏幕右侧，自上而下排列，不仅视觉上保持连续性，在点击热区上也保持了连续。*4. 闭合性

视觉会自动尝试将空出/残缺的图形闭合（或脑补）起来，从而将其感知为完整的物体而不是破碎的物体。

简单点说，当图形是一个残缺图形，但主体有一种使其闭合的倾向，即主体能自行填补缺口从而将其感知为一个整体。

Apple Music：在为你推荐、浏览、广播页面水平方向的第一屏，用残缺的元素形状内容表示页面的水平空间仍有元素信息未完全显示，用户看到「残缺」的形状后，会自动脑补剩下的形状。*5. 图/地法则（主体与背景法则）

图/地法则表明用户界面需要将主体对象与背景区分开来。

这个原理指出：我们在感知事物的时候，总是自动的将视觉区域分为主体和背景。一旦图像中的某个部分符合作为背景特征的话，我们的视觉感知就不会把它们作为主体焦点。根据这样的原理在用户界面设计当中，我们就可以通过一些处理将图像中的某些部分变成背景，这样可以显示更多的信息或者将用户的焦点转移。——Interaction Design Foundation

主体指的是在界面当中占据我们主要注意力的所有元素，其余的元素在此时，均成为背景。当主体与背景重叠时，人的视觉更加倾向于将小的物体视为主体，大的物体视为背景，所以我们可以通过大小与图地关系，将我们希望传递的不同层次的内容进行展示。

Apple Music：在音乐播放页面，在白色背景上，有非常突出的主体：专辑封面、进度条、播放控制按钮等，此外当用户进行播放控制时，专辑和进度条的大小会随之变化，这种主体与背景的层次对比很鲜明，非常符合 iOS 设计语言。6. Prägnanz（或简单法则）

Prägnanz 是一个德语单词，意思是「简洁」。人的眼睛喜欢在复杂的形状中找到简单而有序的对象，当我们在一个设计中看到复杂的物体时，眼睛更愿意将它们转换为单一统一形状，并尝试从这些形状中移除无关的细节来简化这些物体。说到这里，不得不提一下设计领域里的金句：

Less is More

简单的东西往往带给人们的是更多的享受。——20世纪30年代著名建筑师 路德维希·密斯·凡德罗

Apple Music：如果页面需要引导用户进行某种操作，Apple Music 会突出那些用户目标非常明确的功能按钮；此外，大多数艺人照片的背景几乎是纯色，旨在突出艺人形象。*7. 共同命运法则

前面的几个格式塔原理都是针对静态的图形，这里的共同命运是针对的是运动的物体。共同命运和前面的相似性和接近性相关，都影响着我们感知的物体是否在同一个组里。共同命运指出具有共同运动形式的物体被感知为彼此相关的一组。

Apple Music：在完成选择喜爱的音乐类别和艺人时，选中的对象会一同被「装进」下方的按钮。</string>
		<key>contentImg</key>
		<string>ExpNine_1*ExpNine_2*ExpNine_3*ExpNine_4*ExpNine_5*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>超全面的设计异常情况和处理方式汇总</string>
		<key>headerImg</key>
		<string>exp_10</string>
		<key>contentStr</key>
		<string>一、快速了解异常是什么？

异常在百度中的解释是这样的，异常，拼音：yì cháng，是一个汉语词汇。释义非正常的；不同于平常的。

在设计中异常指的是除了正常状态之外的情况，举个例子，假如你要设计一个下载按钮，那么下载按钮需要有几种状态呢？

正常状态下需要提供的下载按钮的状态应该有：点击下载（下载前）、正在下载（或者是下载中、已下载59%等描述）、下载完成，如果你在设计中只提供了这三种下载状态是不够的（其实有部分新手设计师，只提供了点击下载这种状态）。还应该考虑如果下载中出现了断网，或者是用户暂停下载等情况的时候应该怎么处理呢？这就是异常情况，所以除了前面三种状态，还需要提供继续下载，下载失败等状态。下载完成后，现在的设计一般是会自动安装的，此时显示安装中，如果不自动安装还需要提供安装操作，安装完成后提供打开的操作。当然这里面包含的异常状态主要是暂停后的继续下载、下载失败等。

下图就是我做的下载按钮，可以看到其实很多状态如点击下载、下载完成、安装、打开等在视觉表现上是一样，只是文本不同，即使是这样，这些应有的状态无论是交互设计师还是视觉设计师都应该给出的，不然程序员会不知道哪一种情况用什么形式的按钮。其实在一些登录、支付、提交等按钮，还有一种「不可用」的状态，用户未输入信息时，登录按钮置灰，只有当用户输入相应的信息后，按钮才高亮。*二、异常情况的汇总

通过上面的例子，相信已经充分了解到设计中的异常是什么，以及异常的处理方式，那么接下来总结一下设计中常见的异常情况。

异常情况处理其实分为两种情况。

两种异常情况处理

1. 界面中有明显的提示，需要用户了解此情况的，并且影响用户进行下一步操作的，主要包含以下7种情况：

与网络环境等有关的：下载失败、服务器出错、断网，网速过慢、加载失败、网络连接失败（wifi 密码正确，连接不成功）；
空状态：搜索结果为空、无浏览记录、无收藏、无购买记录、无订单记录、无下载记录等；
表单类异常：密码错误、输入字符太少，数量超额，账号密码等不符合相应规则、账号过期、必填项未填写（提示并定位）、必填项的输入字符为空等；
时效性：二维码/验证码的过期/失效处理，例如具有实效性的链接，二维码等；
限定值：上传文件超过限定大小、操作过于频繁（刷新频繁，点赞、抖一抖，戳一戳等，需给出友好提示）；
不可用：账号不存在、账号过期、选项不可选、按钮置灰等；
其他：外接设备连接失败（如遥控器、音响、手机等）、断电/电量过低、安装失败；
2. 用户在操作中是感受不到这种异常，并且对用户的操作有较小影响的。

主要是用户切换任务引起的异常：如按 home 键突然退出/切换应用、返回键退出、下载过程退出等。

以上就是在设计中常见的一些异常情况汇总，看到这里，可能很多朋友就要说了，这么多，我怎么记得住。我个人的建议是，如果你熟悉上面的这些异常的话，其实在设计类似的模块时就会考虑到相应的情况；如果你不熟悉这些，你可以把文章描述的异常情况当作一个检查表，设计到相应的模块时，可以参考是否会出现上方的情况。

三、异常处理

接下来分析一下这些异常情况的处理方式，按异常方式来处理。

与网络环境等有关的：下载失败、服务器出错、断网，网速过慢、加载失败、网络连接失败（wifi 密码正确，连接不成功）

1. 下载失败

一般需要给出明确的下载失败提示，可以通过弹窗、Toast、列表等提示。如下图所示，然后给出用户下一步的操作提示，例如重试、重新下载、删除等操作。*2. 服务器出错

服务器出错的页面常见的500、501、502、503、504、505等5开头的页面。其中这些错误的解释如下：

500 内部服务错误：顾名思义500错误一般是服务器遇到意外情况，而无法完成请求；
501 服务器不具备完成请求的功能；
502 Bad Gateway错误；
503 服务器目前无法使用（由于超载或停机维护）；
504 Bad Gateway timeout 网关超时；
505 服务器不支持请求中所用的 HTTP 协议版本。
服务器异常时，在网页端的处理方式为提示+返回，在移动端的处理方式为提示+重试，下图是一些普通的处理方式。*4. 空状态

搜索结果为空、无浏览记录、无收藏、无购买记录、无订单记录、无下载记录等。

其实空状态很好理解，就是页面没有内容时，空页面一般会提示用户当前页面的空状态，同时也可以做适当的引导。例如在影视类 App 中，如果观看记录为空，则可以为用户推荐影片，如热播影片、猜您喜欢，其他人都在看等热门推荐供用户选择。不过如果无法确定你推荐的用户是否喜欢，不建议做推荐。*5. 表单类异常

密码错误、输入字符太少，数量超额，账号密码等不符合规则、账号过期、必选项未填写（提示并定位）、必填项的输入字符为空等。

表单类异常建议查看我的上一篇文章《如何设计输入框？》，里面有比较详细的讨论。

6. 时效性

二维码/验证码的过期/失效处理，例如具有实效性的链接，二维码等。

实效性比较多的体现在二维码、付款码、验证码等有时间限定的情况下才有效的情况，通常失效之后需要重新刷新，手机的筛选操作通常是点击或者是下拉刷新；PC 端的通常好似点击，TV 端的是按「OK」键刷新。如下图所示为 QQ 的扫码登录页面和 UC浏览器的手机登录页面。*7. 限定值

上传文件超过限定大小、操作过于频繁（刷新频繁，点赞、抖一抖，戳一戳等，需给出友好提示）

对于文件过大无法上传、下载这种建议都是采取弹窗的方式告诉用户当前状况，明确问题并且加上操作提示。如新媒体管家中的导入的 word 的文件不能超过10M的提示如下左图所示。对于操作过于频繁，比较常见于 QQ 中的抖动窗口，其实在一些电视页面的手机截图工具中，刷新太频繁也会弹出 Toast 提示。*8. 不可用

账号不存在、账号过期、选项不可选、按钮置灰等。

账号不存在用于登录时，输入的账号不在已注册的账号中，则会提示此账号不存在，是否立即注册等，如下图所示。*9. 账号过期

APP 或网站中，登录账号后，如果太久不使用，则会有过期的期限，设计师需要根据 APP 的具体情况设置登录过期的时间期限，此时需要提醒用户重新登录。

主要有 Toast 和弹窗两种方式提示，这需要根据账号过期对用户的影响大小来决定用哪一种方式。如下方左图所示，登录账号过期对用户使用此应用的影响不大，则可以采用 Toast 轻提示的方式处理；如下方右图，如果不登录账号则无法使用此应用的功能，则需要采用弹窗强提示的方式，提示用户去登录。*10. 选项不可选

主要包含当前的选项中有不可选的选项，还包括在不达到某种条件情况下，无法使用此功能的按钮等。*11. 其他

外接设备连接失败（如遥控器、音响、手机等）、断电/电量过低、安装失败。

外接设备连接失败需要提示，如果知道连接失败原因，建议给出原因。

断电情况通常用于 PC 端和 TV 端，断电后需要为用户恢复文件。很多设计软件都有这个功能，一旦软件无响应或者其他异常情况导致文件出问题，一般都会提供恢复文件。

安装失败后需要提供提示安装失败原因，如存储空间不足、文件已损坏的提示。

12. 用户切换任务引起的异常较多

如按 home 键突然退出/切换应用、返回键退出、下载过程退出。

此类异常建议用户再次打开时，回到上次用户离开前的状态。如果数据被清理，则回到上次保存的数据页面中。

四、总结

文章主要总结了设计中常用的异常情况，并且给出了相应的解决方案，最长用的规则就是给出异常提示+下一步操作提示，既明确了出错原因，又指引用户下一步操作，用户是相对容易接受的。异常是设计中的一部分，无论是交互设计师还是视觉设计师都应该给出异常的表现形式或处理方式。</string>
		<key>contentImg</key>
		<string>ExpTen_1*ExpTen_2*ExpTen_3*ExpTen_4*ExpTen_5*ExpTen_6*ExpTen_7*ExpTen_8*ExpTen_9*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>交互设计师的自傲、自卑与自觉</string>
		<key>headerImg</key>
		<string>exp_11</string>
		<key>contentStr</key>
		<string>一、驳回一个需求，是最大的骄傲

记得上班第一天，还没结束培训师姐就已经给我布置了任务，到工位就立刻开始和产品经理对接需求。

那个时候，我作为交互设计师的工作是画图：按钮放在左边还是右边、是跳转新页面还是用一个浮层、网络不好怎么显示……听明白了产品经理的要求，把它画成界面，然后喊开发同学一起交互评审，直到最终需求上线，和大家一起复盘数据效果。

第一个惊喜，是我成功驳回了某个产品经理的需求。当他叙述完想要做的事之后，我在纸上写了三条理由，证明这个需求不合理，最终产品经理也认可了。看，我不仅不是以前传说只会被产品经理压迫改稿的设计师，我还有自己的判断。

纯做需求的时候身体上很累，心理上却还好。毕竟，从毕业时产品、交互两个 offer 里选择后者，我是自傲的。

骄傲的是什么呢？骄傲的是画图这项本领别人不会。我不像产品一样靠嘴炮工作，我是有真技术、真能力的。

我会嫌弃产品经理的线框图，经常告诉他们就不要浪费时间画图了，逻辑想想清楚，界面交给我。

在沟通和评审中，我拼命辩驳产品、技术对「体验」的建议，毕竟这是我们交互设计师的专业范畴，你们的看法都属于个人特例。

为此，即便在工作流中处于末端，即便是一个纯执行者，我也会为自己的专业能力而自豪。

自傲的日子里，画界面是交互设计师的全部。我每天看最多的是设计专业网站，读不同移动平台的设计规范、学习原型设计工具、热衷于动效和飞机稿。开会的时间大概只占30%，做完一个需求就马上去要下一个，乐此不疲。*二、N稿之后用回第一稿？不存在的

自卑，一定是从受打击开始的。

那时我正在跟一个创新项目，从0-1，保密，周报都不让写。第一批界面画得像视觉稿一样，趁着项目汇报前一周熬了好几个夜完成。不想，汇报完后不通过，业务逻辑上有漏洞。

此后，就是第二轮汇报、第三轮汇报……第N轮汇报。没有像故事里那样，让我们用回第一稿，而是真正来了一个面目全非。

两个月的汇报和颠簸之后，让我明白了两件事。

第一，在频繁的业务变化中，我发现画图的本领其实很多人都会，只是产品经理们不想浪费时间去考虑每一个细节，所以才交给下游的交互设计师。而且，正因为「体验」是非常主观的判断，所以无论是产品、研发、测试还是用研，都可以对你的方案提出很多难以反驳的意见。这些意见来源于他们自己的判断，或者身边「朋友」的想法，还有竞品的参考。

第二，业务形态可以在知识共享、社交、电商、O2O 等多个领域里变化，但交互设计上的差异性很小，都是前端排版。而绝大多数「体验」好的设计，都是迎合了用户习惯和预期，换言之也都是有迹可循的现成解法（规范、行业标杆竞品等）。因此，在一个项目中，设计真的不会是核心竞争力，也不会是左右项目存活与否的主要因素。

随着心理上焦虑的增加，身体上也不会轻松。

往往项目的推进都是从技术倒推开始。20号上线，测试5天，开发12天，PRD 2天，那么设计就只剩下一天。下游技术实现的难度是无法辩驳、所花时间也难以压缩，上游逻辑与业务产出又占据主导，中间设计的时间常常被一再减少。下班前半小时提需求，晚上需求聊到午夜，周五开会周一要，这样的案例也非常常见。

所以我总觉得，交互设计师只是在做一些可有可无的事。*三、设计师要不要学代码？

最近几个月我做了很多「理应不该设计师做的事」。针对目前所做的业务，我自己学着写了一个爬虫去搜集了很多竞品数据、我去看运营计划找其中的不足之处、我做整体的产品设计方案、我做线下活动的项目管理。

以至于很多看我文章的朋友经常在后台问：「你是转产品经理了吗？」

其实并不是。

从几年前就在流行所谓的全栈设计师，或者产品设计师，他们自己提需求自己画图，自己开发自己运营，类似于这样的斜杠青年引得很多业内交互设计师羡慕。

关于设计师要不要学代码之类的问题也是几年来经久不衰，对应的工具、设计产品也是层出不穷。

但我想说，在鼓励设计师向前站、补位、跨界的时候，交互设计师们还是要保持自己的自觉。

第一，专业能力的差距。不要因为学了一些前端工具写了 demo 就对前端工程师指手画脚，也不要因为对数据做了一些透视就自以为发现了数据分析师的漏洞，更不要觉得产品经理只会瞎逼逼从而越俎代庖。有时候你认为二流的设计师做了三流产品、四流运营、五数据，就是一个10分的人，而很可能最后是0分。

第二，我们的岗位天然缺乏信息输入。很多业务判断、数据分析都依赖行业信息，同样的数据在你的手里和专业数据分析师的手里，得出不一样结论并不是因为数据处理能力的差异，而很可能是你们岗位差别带来的背景信息不同。一个商品卖的不好，你可能认为是商品表达不够出色，但更可能是运营正打算淘汰掉这批货。

第三，我们的岗位缺乏话语权。做跨界的事情不仅需要能力，还需要话语权，当大家各司其职的时候，你跳出来说对方做的不够、不靠谱并给出一个取而代之的方案。能被认可的情况大多发生在职场小说里，更多时候会收到让你做好自己事的回复。

明明有自己不可替代的价值，为什么要去学个四不像呢？

所以设计师要不要学代码？我觉得至少你要先保证自己一项能力做到专业，比如你已经是设计专家，再花些时间精进技术肯定没问题。但如果两边都做，两边都不精，恐怕就得不偿失了。*四、天花板，可能比我们想象的高

今天正好在知乎上看到一个体验设计老兵回忆他曾经的同事们现在在做什么。5个案例中有人依然在做交互设计专家，也有人转型做产品总监，当然也有人创业。

当一个交互设计师想办法看清自己的自傲、自卑和自觉之后，才能真正去探索这个行业的未来。或许，天花板比我们想象的要高。</string>
		<key>contentImg</key>
		<string>ExpOneOne_1*ExpOneOne_2*ExpOneOne_3*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>从UXD 到UGD，聊聊交互设计师的「中年焦虑」</string>
		<key>headerImg</key>
		<string>exp_12</string>
		<key>contentStr</key>
		<string>今天看到一位非常优秀的朋友发了篇文章，很多同行转发且认为其观点很正确，当然我也认同。但我更多的读出了他的迷茫，且跟自己最近的状态挺像的。所以找他稍微聊了下，纯粹是同状态的人做一些无意义的交流，互相鼓励吧。于是有感而发，临时写了这篇文章。

试想作为一名交互设计师，除了作为产品链路的某一个环节支点（画图）外，是否还能有其他突出贡献，或者创造更大的自我价值？我想这是我们这个阶段的人之所以迷茫或焦虑的主要原因。以至于延伸出设计师转产品、学代码的尴尬境地。

我想之所以会造成这样的局面，可能更多的是以下两点吧：

行业沉淀不足
设计师被环境所局限
一、行业沉淀深度不足

有人说在我们这个阶段的人，已经成为行业的「边缘人」，前面没有领路的了，又不知道该怎么办。所以才出现各种 UXD、UGD、全链路等头衔，以此来促进设计产品继续发酵。我反而觉得这是行业沉淀不足所导致的不良现象。毕竟概念谁都会说，但是有了这些岗位职称概念，依然没有指向标来引导这个阶段的设计师如何持续有价值的成长，也是无意义。

交互在流程闭环中的价值本身并不是很大，或者说很难产生高价值的回报。再而被团队与市场环境所影响，认为出方案创造更大的利益才能被重视或认可，而导致国内外设计师的价值观差距巨大。

记得我之前跟 Airbnb 的设计师 Gravin 的交流中曾有过这样一段内容。

在美国，职称中要出现「资深」两字，一般需要比在亚洲花更多的时间。在美国大概要有 5-7 年的工作经验才可以算资深。在亚洲，尤其中国，2-3 年就已经有一批自称为资深的设计师了。

反观国外大部分资深设计师一直在寻找突破口，以达到自我成长的欲望。但为什么国内设计师做不到，或者说很少有人能做到呢？我想更多的原因是国内市场的路径更多的是围绕「风口」在打转，设计师过于浮躁，没有值得沉淀的环境所导致。

或许更多的原因是：目前市场设计师的背景也过于杂乱。自学入行，转行过多，交互相关专业毕业的人才稀缺，心理学、行为学等相关领域的系统知识欠缺。研讨方案更多的是「我觉得」，而不是有「案例证明」。其实想想律师在做辩证时，会收集很多相关案件的判决资料，给予法官与陪审团作为参考，不正是一种值得借鉴的方式么？然而要做到这点所要覆盖的知识面也要够广，不是随意找一些相似案例就行。

所以造成这个局面的不仅仅是行业现状，更多的是环境导致从业人员视野不够广。才有行业沉淀不足，自身成长到行业所需的「伪临界点」，导致设计师容易看到所谓的天花板的现象。

怎么办？

二、Julie Zhuo 给我的启发

曾经作为 Facebook 的设计小白，一路走到如今 FB 的产品设计 VP，她的成长路径让我意识到，一位设计师除了专注于该领域的专业挖掘外，还应该有更广阔的视野，去探索领域之外的内容。这个内容黑洞当然无法被完全填补，但至少她的行为是我们设计道路上值得被学习的标杆。

JZ 初期不仅努力熟悉公司业务，还通过学习各领域知识来填补自身的欠缺点，每年都会通过阅读各类专业书籍进行自我增值。同时通过向前辈学习、回答新人问题来作为专业沉淀的方式。年纪轻轻就迅速成为设计界众所周知的女神级人物。

她的故事告诉我们，设计师除了聚焦于技能与执行力的提升外，还应该从其他方面来督促自己的成长。培养自己对于优秀界面的审美素质，理解可用性、易用性背后的设计原理。这些能力不单单局限于设计本身，还需要海量的知识来辅助。将其融于一身，才配得上「产品思维」这个称呼。

一名优秀的产品设计师，不应该只关注于「设计流程」这个层面的需求，还要能够承担「创造完整的体验链路，帮助用户理解服务的价值」这样的设计重任。如果能达到这个层面的要求，设计师的职业发展将充满各种机遇与可能性。

我深信，如果想要完善自己，带着「学习」的眼光看周围的人与事，那么从任何人身上都能学习到有用东西，无论这些人是否为设计师。

努力把自己打造成一个能独当一面的设计师——即使没有人带你，没有人可依靠，你也会在不断解决问题中保持成长进步，并且用这种特质去影响周遭的人。

我想，这是能突破现有环境，制造自身价值的唯一方式了吧。

三、要想停留在原地，就得不断奔跑

早前写过一篇文章，里面提到一个故事。

记得在《爱丽丝镜中世界奇遇记》里讲到：爱丽丝遇见了红皇后，红皇后牵着她的手往前跑，但是，不管她们跑得多快，一直跑到精疲力尽，最后还是停留在原地。爱丽丝说：「要是在我们国家，像这样奔跑，一定会跑到一个新的地方。」红皇后不屑地说：「那你们是慢吞吞的国家，在我们这里，你要想待在原地，就得使出全身力量拼命跑。

「在这个加速发展的时代，要是想待在原地，就得不断奔跑」。这句话说起来好像前后矛盾，但却是如今跟上时代步伐的唯一真理。*前阵子朋友问我今年看了多少本书了。我翻了下笔记，截止今天已经 47 本，当然专业书籍只占了少数。我从不觉得专业书籍的过分阅读能给自己带来多少大的帮助，所以当阅过经典，我就基本不再翻阅专业类书籍了。只希望通过其他领域的知识来充实自己。

当然以我的知识背景跟行业履历与 JZ 相比根本不值一提，但既然已经看到行业现状，何不从其他角度继续自我沉淀呢？</string>
		<key>contentImg</key>
		<string>ExpOneTwo_1*</string>
	</dict>
	<dict>
		<key>titleStr</key>
		<string>2018年了，梳理一下语音交互界面的核心知识点</string>
		<key>headerImg</key>
		<string>exp_13</string>
		<key>contentStr</key>
		<string>交互界面早已不再局限于我们平日所看到屏幕上的图形化元素了，以 Siri 为代表的 VUI（Voice User Interface），即语音交互界面在日常生活中的作用越来越大了。VUI 设计师正在力图创建更优秀的语音交互界面，为用户提供更加优秀的用户体验。

语言虽然并非是人类独有的沟通方式，但是它在人类的日常生活当中发挥着近乎不可替代的作用。如今，人工智能（AI）正在快速发展着，VUI 这种以往更多停留在构思中的交互平台，正在缓慢但坚定地走入我们的生活，并且解放我们的双手。语音交互界面是2018年最重要的趋势之一，它不仅可以依托于智能手机而存在，而且可以和智能家居、智能电视等一系列其他产品结合到一起。越来越多的人，正在更加频繁地使用 Siri、Google Assistant、Cortana、Bixby 以及小爱同学。*在这样的背景之下，VUI 的设计师更是需要仔细琢磨，为用户提供真正卓越的用户体验和产品，只有这样，才能在今后越来越激烈的竞争中领先。

今天的文章，我们梳理了2018年设计师需要知道的关于 VUI 语音交互界面的几个关键知识点，不要错过哦。

1. 语音交互界面（VUI）是什么？

语音交互界面（VUI）指的是为用户提供可进行语音交互的计算机平台，它能够实现自动化的服务并且提供完整的相关流程。

而设计 VUI 的时候，设计师需要侧重于用户的语音交互过程，并且设计出相应的语音应用系统。由于 VUI 是面向用户的交互界面，因此满足用户的实际需求是至关重要的。*2. VUI是你的个人语音助理

目前的 VUI 大多是以用户的个人语音助理形式存在的。借助 AI 等最新的技术，开发人员和设计师能够为用户量身定制整个体验。VUI 能够通过多种方式了解用户当前的需求，预测可能将会存在的需求，并且因此而逐步成为越来越称职的用户个人助理。它会涉及到生活的各个方面，甚至抵达你之前从未预料过的全新领域。*3. VUI设计师的工作职能是什么？

从广泛意义上来说，VUI设计师的工作职能和传统的网页设计师的工作内容区别并不算太大，不过，VUI设计师在工作中将会更加关注下面的三方面的内容：

进行深入的用户研究，了解用户和谁在一起，以及所处的环境（Who，Where）。除此之外，设计师还需要从头到尾了解后台的系统和终端设备之间的整个通信过程。
VUI 设计师应该负责整个产品的原型设计（Mockplus 是一个非常值得参考的原型设计工具的案例），并且能够进行精确到位的产品描述，尤其是对于系统和用户之间的交互过程的准确界定和描述。
当 VUI 设计师在描述系统和用户进行沟通和交互的时候，应该考虑并且斟酌清楚用户所提交的信息中，真实的需求是什么。通过分析数据，了解系统出错的位置。在完成一天的工作之后，设计师还需要不断检查并改进整个系统。*4. 设计VUI界面时的6个基本原则*尽量避免信息过载的情况，提升用户体验。
人类对于音频信息的记忆是短期记忆。用户不可能一次记住大量的新的信息，因此不要过度地利用短期记忆。
VUI 的硬件载体应当准确地了解用户的主要需求，并且快速的提供相应的答案。举个例子，如果 VUI 设备询问用户「你目前生病的症状有哪些？」而用户回答说是「发烧和感冒」的时候，系统应当明确用户回答的是两种不同的症状，并且基于这两种症状和用户的实际环境，提供解决方案。
信息和 VUI 的组件必须以用户可以感知的方式呈现给用户。
创建足够简单清晰的可视化的布局，确保信息的正确传达而不会丢失。
提供不同的方式帮助用户导航，查找信息，并且确定其位置。

5. 图形化界面（GUI）和语音交互界面（VUI）的搭配构成更好的产品

图形化界面（GUI）主要是图形和文本所构成的，而 VUI 的内容在图形化界面当中主要是文本构成的。用户主要是通过点击和滑动这样的手势操作来和 GUI 进行交互的，而 VUI 则让用户可以直接使用语音来进行交互。不过 VUI 和 GUI 之间的互通需要足够清晰的规则来进行约束，并且 VUI 必须明确用户在说什么，才能给出正确的响应。

结合 GUI 和 VUI 有助于简化整个用户导航的过程，用户的选择和确认也将更为简单。*简单的总结一下：

GUI 和 VUI 的结合带来挑战：语音和手势输入的结合；哪些信息用语音输出，哪些用屏幕输出。
GUI 和 VUI 搭配带来的好处：对于GUI 和 VUI 的双向加强，用户舒适度的提升。
谨慎地计划和开发：不停地进行用户测试并且迭代。
结语

语音交互界面是通过语音来进行交互的解决方案，它是一个有前景的全新领域，它的使用场景和交互方式还有许多值得探索的地方，在如何优雅而恰当地为用户提供交互语境、在嘈杂而多变的环境下如何应变，是 VUI 所面临的主要挑战之一。通过将 VUI 和 GUI 的结合，用户可以更加便捷地使用产品，而诸如 AI 、面部识别、手势交互和音频输入等技术的加入，会使得未来的数字产品充满可能性。</string>
		<key>contentImg</key>
		<string>ExpOneThree_1*ExpOneThree_2*ExpOneThree_3*ExpOneThree_4*ExpOneThree_5*ExpOneThree_6*</string>
	</dict>
</array>
</plist>
